.btn {
  background: $primary;
  border-radius: 5px;
  border: none;
  font-family: $primary-font-family;
  font-size: $pr20;
  font-weight: 700;
  color: $text-color--light;
  padding: $spacer * 1.3  0;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  outline: none;
  line-height: 1.3;

  i {
    position: relative;
    right: 0;
    bottom: 4px;
    font-size: $pr10;
    padding-left: $spacer / 2;
  }

  @include media-breakpoint-up(md) {
    width: auto;
    margin: 0 auto;
    padding: $spacer * 1.3  $spacer *  6.5;
  }
}

.btn--default {
  background-color: $btn--default-bg;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  @include media-breakpoint-up(md) {
    font-size: $pr30;
    padding: $spacer  $spacer *  3;
  }
}

.btn--wide {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Script styles
.wj-hide {
  overflow-x: hidden !important;
}

.wj-hide body {
  overflow: hidden !important;
}
