.feeds {
  padding-top: $spacer;

  @include media-breakpoint-up(lg) {
    padding-top: $spacer * 2;
  }

  &__item {
    font-size: $pr14;
    margin-bottom: $spacer * 1.5;
    text-align: center;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: $spacer * 2.5;
      text-align: left;
    }
  }

  &__image {
    border-radius: 5px;
    margin: 0 auto;
    width: 350px;

    @include media-breakpoint-up(lg) {
      display: inline-block;
      float: left;
      margin-right: $spacer;
      width: 173px;
    }
  }

  &__title {
    font-size: $pr16;
    font-weight: 900;
    line-height: 1.1;
    margin: $spacer / 2  0;

    @include media-breakpoint-up(lg) {
      font-size: $pr19;
    }
  }

  &__link {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }
}
