// Free SVG icons: https://useiconic.com/open/
$icon-size: $pr20;

.icon {
  width: $icon-size;
  height: $icon-size;
  display: inline-block;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;

  &--blurb {
    background-image: url(../images/icon-blurb.png);
  }

  &--caution {
    background-image: url(../images/icon-caution.png);
  }

  &--dollar {
    background-image: url(../images/icon-dollar.png);
  }

  &--check {
    background-image: url(../images/icon-check.png);
  }

  &--question {
    background-image: url(../images/icon-question.png);
  }
}
