img,
article img,
figure {
  max-width: 100%;
  height: auto;
}

figure {
  margin: $spacer * 1.5  0  0;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin: $spacer * 2  0  $spacer * 3.5;
  }
}

figcaption {
  font-family: $primary-font-family;
  font-size: $pr16;
  line-height: normal;
  margin-top: $spacer;

  @include media-breakpoint-up(md) {
    margin: $spacer auto 0;
  }
}
