// Some basic padding for all wrappers
html {
  font-size: 16px;
}

body {
  font-family: $base-font-family;
  font-size: $font-size-base;
  line-height: $base-line-height;
  box-sizing: border-box;
  text-align: center;
  background-color: $body-color;
}

.section {
  overflow: hidden;
  position: relative;
  padding-bottom: $spacer * 1.5;
  padding-top: $spacer;

  @include media-breakpoint-up(md) {
    padding-top: $spacer;
    padding-bottom: $spacer * 1.5;
  }
}

.discover {
  padding-bottom: 0;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 1.5;
  }
}
