ul {
  text-align: left;
  margin-bottom: $spacer * 1.5;

  li {
    margin-bottom: $spacer;
    line-height: 1.35;
    position: relative;
  }
}

.list {
  list-style-type: none;

  &--white {
    background-color: #fff;
    padding: 0  $spacer  $spacer / 3  $spacer * 3;
    margin-top: 0;

    @include media-breakpoint-up(md) {
      padding: 0  $spacer * 2  $spacer / 3  $spacer * 4.5;
    }
  }

  &__item {
    font-size: $pr15;

    @include media-breakpoint-up(md) {
      font-size: $pr20;
    }

    &::before {
      position: absolute;
      content: '';
      background: url(../images/check.svg) no-repeat 0 0 scroll;
      background-size: 0.8rem;
      width: 100%;
      height: 100%;
      display: inline-block;
      left: - $spacer * 2;
      top: $spacer / 4;

      @include media-breakpoint-up(md) {
        background-size: 1rem;
        top: $spacer / 4;
        width: 100%;
        height: 100%;
      }
    }
  }

  &--icon {
    padding-left: 0;
    margin-bottom: 0;

    .list__item {
      font-size: $pr18;

      @include media-breakpoint-up(md) {
        font-size: $pr20;
      }

      &::before {
        display: none;
      }
    }
  }

  .icon {
    margin-right: $spacer / 2;
    vertical-align: middle;
  }

  .list__p {
    display: inline;
    margin-bottom: 0;
  }
}
