.logo {
  background-image: url(../images/foundr.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: scroll;
  background-size: contain;
  width: 174px; // original
  height: 44px; // original
  margin: 0 auto;
  white-space: nowrap;
  text-indent: -9999px;
  display: block;

  &--hero {
    width: 100px;
    height: 25px;
  }

  &--footer {
    width: 120px;
    height: 30px;
    margin-bottom: $spacer / 2;
  }
}
