.cta-footer {
  // padding-top: $spacer * 1.5;
  font-family: $primary-font-family;
  font-size: $pr16;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer * 2.5;
  }

  p {
    margin-bottom: 0;
    padding: 0  $spacer / 2;
  }

  .btn {
    margin-bottom: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 2.5;
    }
  }
}
