.hero {
  font-family: $primary-font-family;
  font-size: $pr16;
  padding-top: $spacer;

  @include media-breakpoint-up(md) {
    font-size: $pr23;
    padding-bottom: $spacer * 3;
  }

  &__lead {
    font-size: $pr28;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;

    @include media-breakpoint-up(md) {
      font-size: $pr55;
      margin-bottom: $spacer;
    }
  }

  &__sublead {
    font-size: $pr16;
    font-weight: 400;

    @include media-breakpoint-up(md) {
      font-size: $pr25;
    }
  }
}
