.content {
  font-size: $pr18;
  text-align: left;

  @include media-breakpoint-up(md) {
    font-size: $pr20;
  }

  .logo-descr {
    font-size: $pr14;
    margin-bottom: $spacer / 2;

    @include media-breakpoint-up(md) {
      font-size: $pr16;
    }
  }

  .image-container {
    @include media-breakpoint-up(md) {
      min-height: 85px;
    }
  }

  .gretta-forbes {
    margin-top: $spacer * 1.5;

    @include media-breakpoint-up(md) {
      margin-top: $spacer * 3;
    }
  }
}
