.parallax-intro {
  @include parallax('section-dark-bg.jpg');

  background-color: $bg--dark;
  font-family: $primary-font-family;

  &__heading {
    font-size: $pr28;
    font-weight: 700;
    font-family: $base-font-family;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: $pr50;
      margin-bottom: $spacer * 2;
    }
  }

  .triangle-down {
    margin: $spacer * 1.5  auto  $spacer * 1.5;

    @include triangle-down( 20px, $light);

    @include media-breakpoint-up(md) {
      @include triangle-down( 50px, $light);
    }
  }
}
