.no-padding {
  padding: 0 !important;

  &-bottom {
    padding-bottom: 0 !important;
  }

  &-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.center-cols {
  justify-content: center;
}

.mb {
  @include create-margin-bottom(2);
  @include create-margin-bottom(3);
}

.mt {
  @include create-margin-top(2);
  @include create-margin-top(3);
}

.top-primary-border {
  border-top: 1px solid $primary;
}

.section--blue {
  background-color: $bg--blue;
  color: $text-color--light;
}

.section--dark {
  color: $text-color--light;

  .section-title {
    color: $text-color--light;
  }
}

.section--light {
  color: $text-color--dark;
  background-color: $light;
}

.section--grey {
  color: $text-color--dark;
  background-color: $bg--grey;
}

.shadow {
  box-shadow: 0 1px 4px 0 $shadow-color;
  border: 5px solid $light;

  &--down {
    border: 0;
    box-shadow: 0 11px 7px -7px darken($shadow-color, 25%);
  }
}

.text-center {
  text-align: center;
}
